@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles (can replace some config work) */
body {
  @apply bg-gray-100 text-gray-900;
}

.btn {
  @apply px-4 py-2 rounded bg-blue-600 text-white;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}